<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-dark" id="mainNav">
    <div class="container">
        <%= link_to root_path, class: "navbar-brand" do %>
         <span class="text-danger">C</span>onnect to <span class="text-primary">L</span>ives</a>
        <% end %>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
            </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><%= link_to 'Articles', articles_path, class: "nav-link js-scroll-trigger" %></li>
                <li class="nav-item"><%= link_to 'Contributers', users_path, class: "nav-link js-scroll-trigger" %></li>
                <% if logged_in? %>
                    <li class="nav-item"><%= link_to 'New Article', new_article_path, class: "nav-link js-scroll-trigger" %></li>
                    <li c;ass="nav-item"><%= link_to  "Profile" , user_path(current_user), class: "nav-link js-scroll-trigger"%></li>
                    <li class="nav-item"><%= link_to 'Log out', logout_path, class: "nav-link js-scroll-trigger", method: :delete %></>
                <% else %>
                    <li class="nav-item"><%= link_to 'Log in', login_path, class: "nav-link js-scroll-trigger" %></li>
                    <li class="nav-item"><%= link_to 'Sign up', new_user_path, class: "nav-link js-scroll-trigger" %></li>
                <% end %>
            </ul>
        </div>
    </div>
</nav>